.btn {
  display: inline-block;
  padding-inline: var(--mar-in-2_5);
  padding-block: var(--mar-bk-1);
  text-align: center;
  margin-inline: auto;
  border-radius: 1.8125rem;
  text-decoration: none;
  color: var(--clr-white);
  font-weight: var(--f-w-b);
}

.section__hero_btn--down {
  background-color: var(--clr-green);
  text-align: center;
}

.section__hero_btn--down span {
  color: var(--clr-green-light);
}

.section__hero_btn--about {
  background-color: var(--clr-purple);
}
