.heading__primary {
  font-size: var(--f-s-h1);
  font-weight: var(--f-w-b);
  color: var(--clr-grey);
  line-height: 2.75rem;
}

.heading__secondary {
  font-size: var(--f-s-h2);
  font-weight: var(--f-w-b);
  color: var(--clr-grey);
  line-height: 2.25rem;
}
