:root {
  --clr-green: hsl(192, 37%, 48%);
  --clr-green-light: hsl(192, 90%, 77%);
  --clr-purple: hsl(268, 34%, 53%);
  --clr-purple-light: hwb(268 72% 0%);
  --clr-grey: hsl(240, 21%, 20%);
  --clr-grey-light: hsl(240, 10%, 57%);
  --clr-white: hsl(0, 0%, 98%);
}
