:root {
  /* Padding */

  --pad-tb-1: 1rem 0;
  --pad-tb-1_25: 1.25rem 0;
  --pad-tb-2_5-rl-2: 2.5rem 2rem;
  --pad-rl-1_75: 0 1.75rem;
  --pad-rl-1_5: 0 1.5rem;
  --pad-rl-2: 0 2rem;
  --pad-rl-2_5: 0 2.5rem;
  --pad-rl-3_5: 0 3.5rem;
  --pad-t-1_62: 1.62rem;
  --pad-t-1_12: 1.12rem;
  --pad-b-1_75: 1.75rem;
  --pad-t-2_5: 2.5rem;
  --pad-t-3_5: 3.5rem;
  --pad-b-2: 2rem;
  --pad-l-2: 2rem;

  /* Margins */
  --mar-t-1_5: 1.5rem;
  --mar-t-2: 2rem;
  --mar-t-2_5: 2.5rem;
  --mar-t-3: 3rem;
  --mar-t-3_62: 3.62rem;
  --mar-t-5: 5rem;
  --mar-t-8: 8rem;
  --mar-t-3_87: 3.87rem;
  --mar-t-10_25: 10.25rem;

  --mar-b-0_5: 0.5rem;
  --mar-b-75: 0.75rem;
  --mar-b-1: 1rem;
  --mar-b-1_25: 1.25rem;
  --mar-b-1_38: 1.38rem;
  --mar-b-1_5: 1.5rem;
  --mar-b-1_75: 1.75rem;
  --mar-b-2: 2rem;
  --mar-b-3: 3rem;
  --mar-b-3_38: 3.38rem;
  --mar-b-2_25: 2.25rem;
  --mar-b-2_5: 2.5rem;
  --mar-b-4: 4rem;
  --mar-b-4_5: 4.5rem;
  --mar-b-5: 5rem;
  --mar-b-6: 6rem;
  --mar-b-7_94: 7.94rem;
  --mar-b-10_38: 10.38rem;
  --mar-b-11_44: 11.44rem;
  --mar-b-12_62: 12.62rem;
  --mar-b-15_56: 15.56rem;
  --mar-b-30: 30rem;
  --mar-b-35: 35rem;
  --mar-rl-1_5: 0 1.5rem;
  --mar-rl-1_75: 0 1.75rem;
  --mar-rl-2: 0 2rem;
  --mar-rl-3_5: 0 3.5rem;
  --mar-rl-10_31: 0 10.31rem;
  --mar-r-3-l-2_5: 0 3rem 0 2.5rem;

  --width-card: min(100%, 24rem);
  --width-pattern: min(75%, 18rem);
  --width-container: min(90%, 69.375rem);
}
