.company__logo {
  margin-inline: auto;
  margin-top: var(--mar-t-3);
  margin-bottom: var(--mar-b-3_38);
  @include tab {
    margin-bottom: var(--mar-b-4);
  }
}

.container {
  width: 100%;
  margin-inline: auto;

  & > * {
    text-align: center;
    margin-inline: 1.5rem;
  }
}

.section__hero {
  // border: 5px solid red;
  // width: 90%
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-inline: auto;
  align-items: center;
  justify-content: center;
  margin-bottom: var(--mar-b-4);
  @include tab {
    margin-bottom: var(--5rem);
  }

  @include tab-portrait {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "image-left content image-right";

    column-gap: 5rem;
    width: 1440px;
  }

  & > * {
    text-align: center;
  }

  &
    > *:not(
      .section__hero--img-wrapper,
      .section__hero--img-wrapper-left,
      .section__hero--img-wrapper-right
    ) {
    margin-inline: 1.5rem;

    @include tab {
      margin-right: var(--9_69rem);
      margin-left: var(--9_69rem);
    }

    @include tab-portrait {
      margin-right: 0;
      margin-left: 0;
    }
  }

  &--img-wrapper {
    overflow-x: hidden;

    &-left {
      @include tab-portrait {
        //
        grid-area: image-left;
        transform: scale(1.2);
      }
    }

    &-right {
      grid-area: image-right;
      transform: scale(1.2);
      justify-self: end;
      overflow-x: hidden;
    }

    & img {
      transform: scale(1.1);
      margin-top: var(--mar-t-1);
      margin-bottom: var(--mar-b-3);

      @include tab {
        margin-bottom: var(--mar-b-4);
      }

      @include tab-portrait {
        margin: 0;
      }
    }
  }

  &--img {
    @include tab-portrait {
      display: none;
    }
  }

  &--about {
    grid-area: content;
  }

  &--heading {
    text-align: center;
    margin-bottom: var(--mar-b-1_5);

    @include tab {
      line-height: 3rem;
    }
  }

  &--text {
    margin-bottom: var(--mar-b-2);
  }

  &--btns {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    column-gap: 1rem;

    @include tab {
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }
  }
}

.section__num {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: var(--mar-b-4);
  @include tab {
    margin-bottom: var(--5rem);
  }
  // text-align: ;
  &::before {
    content: "";
    border-left: 1px solid var(--clr-grey-light);
    height: 5.25rem;
  }

  &--digit {
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--clr-grey-light);
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    font-weight: var(--f-w-b);
    // &::before {
    //   content: "";
    //   border-left: 1px solid var(--clr-grey-light);
    //   height: 5.25rem;
    // }
  }
}

.section__gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  margin-bottom: var(--mar-b-4);

  @include tab {
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: var(--3rem);
  }

  & img {
    border-radius: 0.5rem;
  }
}

.section__about {
  margin-bottom: var(--mar-b-3);

  @include tab {
    margin-left: var(--6rem);
    margin-right: var(--6rem);
    margin-bottom: var(--4rem);
  }

  &--outline {
    color: var(--clr-green);
    font-size: var(--f-s-ol);
    font-weight: var(--f-w-b);
    letter-spacing: 0.25rem;
    text-transform: uppercase;
    margin-bottom: var(--mar-b-1_5);

    @include tab {
      margin-bottom: var(--1rem);
    }
  }

  &--heading {
    margin-bottom: var(--mar-b-2);

    @include tab {
      margin-left: var(--4rem);
      margin-right: var(--4rem);
      line-height: 2.75rem;
    }
  }
}

.section__num.two {
  margin-bottom: -1.75rem;
  & > a {
    background-color: var(--clr-white);
  }
}
.footer {
  background-image: linear-gradient(
      rgba(77, 150, 168, 0.85),
      rgba(77, 150, 168, 0.85)
    ),
    url(../../public/mobile/image-footer.jpg);
  background-size: cover;
  color: var(--clr-white);
  margin: 0;
  // margin-bottom: var(--2rem);

  @include tab {
    background-image: linear-gradient(
        rgba(77, 150, 168, 0.85),
        rgba(77, 150, 168, 0.85)
      ),
      url(../../public/tablet/image-footer.jpg);
  }

  & > * {
    padding-inline: var(--1_5rem);

    @include tab {
      margin-left: var(--6rem);
      margin-right: var(--6rem);
    }
  }
  &__heading {
    color: var(--clr-white);
    padding-block-start: var(--pad-t-5);
    // margin-block-end: var(--mar-b-1_5);
    margin-bottom: var(--1_5rem);

    @include tab {
      margin-left: 8.5rem;
      margin-right: 8.5rem;
      line-height: 2.75rem;
      text-wrap: unset;
      margin-bottom: var(--2rem);
    }
  }

  &__text {
    margin-bottom: var(--2rem);
    @include tab {
      margin-bottom: var(--2_5rem);
    }
  }

  &__btn {
    background-color: var(--clr-purple);
    margin-bottom: var(--4rem);
    padding-right: var(--2_5rem);
    padding-left: var(--2_5rem);

    & span {
      color: var(--clr-purple-light);
    }
  }
}
