.company__logo {
  margin-inline: auto;
  margin-top: var(--mar-t-3);
  margin-bottom: var(--mar-b-3_38);
}

.container {
  width: 100%;
  margin-inline: auto;

  & > * {
    text-align: center;
    margin-inline: 1.5rem;
  }
}

.section__hero {
  // border: 5px solid red;
  // width: 90%
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-inline: auto;
  align-items: center;
  justify-content: center;
  margin-bottom: var(--mar-b-4);

  & > * {
    text-align: center;
  }

  & > *:not(.section__hero--img) {
    margin-inline: 1.5rem;
  }

  &--img {
    // border: 5px solid green;
    overflow-x: hidden;

    & img {
      transform: scale(1.1);
      margin-block-start: 1rem;
      margin-block-end: 3rem;
    }
  }

  &--heading {
    text-align: center;
    margin-bottom: var(--mar-b-1_5);
  }

  &--text {
    margin-bottom: var(--mar-b-2);
  }
}

// .section__1 {
//   &--line {
//     border-left: 1px solid var(--clr-grey-light);
//     height: 5.25rem;
//     position: absolute;
//     left: 50%;
//     transform: translateX(-50%);
//   }

//   &--num {
//     padding-top: 6rem;
//     margin-bottom: 5.25rem;
//     // border: 1px solid var(--clr-grey-light);

//     &::before {
//       content: "";
//       border-top: 1px solid var(--clr-grey-light);
//       border-left: 1px solid var(--clr-grey-light);
//       border-right: 1px solid var(--clr-grey-light);
//       border-bottom: 1px solid var(--clr-grey-light);
//       border-radius: 50%;
//     }
//   }
// }

.section__num {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: var(--mar-b-4);
  // text-align: ;
  &::before {
    content: "";
    border-left: 1px solid var(--clr-grey-light);
    height: 5.25rem;
  }

  &--digit {
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--clr-grey-light);
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    font-weight: var(--f-w-b);
    // &::before {
    //   content: "";
    //   border-left: 1px solid var(--clr-grey-light);
    //   height: 5.25rem;
    // }
  }
}

.section__gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  margin-bottom: var(--mar-b-4);

  & img {
    border-radius: 0.5rem;
  }
}

.section__about {
  margin-bottom: var(--mar-b-4);

  &--outline {
    color: var(--clr-green);
    font-size: var(--f-s-ol);
    font-weight: var(--f-w-b);
    letter-spacing: 0.25rem;
    text-transform: uppercase;
    margin-bottom: var(--mar-b-1_5);
  }

  &--heading {
    margin-bottom: var(--mar-b-2);
  }
}
